
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b, #0f172a);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}


.login-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-card {
  width: 100%;
  max-width: 450px;
  padding: 50px 35px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.10);

  text-align: center;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.logo-section {
  margin-bottom: 25px;
}

/* Attractive Gradient Logo */
.logo-text {
  text-decoration: none;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 1px;
  display: inline-block;

  /* Gradient text */
  background: linear-gradient(90deg, #38bdf8, #0ea5e9, #38bdf8);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: 0.4s ease;
  position: relative;
}

/* Highlight "Mart" */
.logo-text span {
  background: linear-gradient(90deg, #ffffff, #38bdf8);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Hover Effect */
.logo-text:hover {
  background-position: right center;
  transform: scale(1.05);
}

/* Glow Effect */
.logo-text::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: #38bdf8;
  transition: 0.3s ease;
  transform: translateX(-50%);
  border-radius: 10px;
}

.logo-t



.login-card h1 {
  font-size: 26px;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  color: #cbd5e1;
  margin-bottom: 30px;
}


.input-group {
  margin-bottom: 18px;
}

.input-group input {
  width: 100%;
  padding: 14px 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
}

.input-group input::placeholder {
  color: #94a3b8;
}

.input-group input:focus {
  border-color: #38bdf8;
  box-shadow: 0 0 0 2px rgba(56, 189, 248, 0.3);
}

.login-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #38bdf8;
  color: #0f172a;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
}

.login-btn:hover {
  background: #0ea5e9;
  transform: translateY(-2px);
}

.bottom-text {
  margin-top: 22px;
  font-size: 14px;
  color: #cbd5e1;
}

.bottom-text a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.bottom-text a:hover {
  text-decoration: underline;
}


@media (max-width: 480px) {
  .login-card {
    padding: 35px 25px;
  }

  .login-card h1 {
    font-size: 22px;
  }
}
